<%- include("../global/header.ejs") %> 
<div class="row">
    <div class="col">
        <div>
            <h1>Listes des <%= title %> </h1>
            <div class="form-group">
                <input type="text" id="filterProduit" class="form-control" placeholder="Filtrer le tableau"/>
            </div>
            <table class="table table-striped">
                <thead class="<%= matricule[0]+matricule[1] === "VB" ? "bg-primary" : "bg-warning" %> text-white">
                    <th>id</th>
                    <th>Nom</th>
                    <th>code produit</th>
                    <th class="text-center">prix (Ar)</th>
                    <th>description</th>
                    <th></th>
                </thead>
                <tbody id="tabProduit">
                    <% produits.map((produit) => { %>
                        <tr>
                            <td><%= produit.id_produit %> </td>
                            <td><%= produit.nom_produit %> </td>
                            <td><%= produit.code_produit %> </td>
                            <td class="text-center"><%= produit.prix %> </td>
                            <td><%= produit.description_produit %> </td>
                            <td><a href="#" class="btn <%= matricule[0]+matricule[1] === "VB" ? "btn-primary" : "btn-warning" %>"><i class="fa fa-info"></i></a></td>
                        </tr>
                    <% }) %>  
                </tbody>
            </table>
            <div class="row">
                <div class="col-5 m-auto">
                    <ul class="pagination">
                        <li class="page-item"><a class="page-link" href="/produits/<%= id<=0 ? 0: id-1 %> ">Previous</a></li>
                        <% for(let i = 1; i <= page_count+1; i++) { %>
                            <li class="page-item <%= id+1 == i && 'active' %> "><a class="page-link" href="/produits/<%= i-1 %> "><%= i %> </a></li>
                        <% } %>  
                        <li class="page-item"><a class="page-link" href="/produits/<%= id == page_count ? id:id+1 %> ">Next</a></li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-6"></div>
            <div class="col-6"></div>
        </div>
    </div>
</div>
<%- include("../global/footer.ejs") %> 